body{
  /*background-color: rgba(162, 189, 177, 0.29)*/
}
#api_view{
  background-color: rgba(231, 232, 241, 0.29)
}
/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/


.header{

  color: #fff;
  font-size:20px;
  background-color:#0275d8;
  border-bottom:1px solid #c3c3c3;
  padding: 20px;
}

.content{
  margin: 16px auto;
}


.api_view_requests{
  background-color: #F8F8F8;
}
.api_view_response{
  background-color: #F8F8F8;
}

pre{
  margin:0;
}

.foot{
  padding: 18px;
  color: #dadada;
  font-size: 14px;
  text-align: center;
  background-color: #727171;
}

.api_view_body:hover{
  background-color: #86CDF1;
}

#backtop a { /* back to top button */
	position: fixed;
	bottom: 50px; /* 小按钮到浏览器底边的距离 */
	right: 5px; /* 小按钮到浏览器右边框的距离 */
	color: #333; /* 小按钮中文字的颜色 */
	background-color: rgba(212, 212, 212, 0.5); /* 小按钮底色 */
	padding: 10px; /* 小按钮中文字到按钮边缘的距离 */
	text-decoration: none;
}

#backtop a:hover { /* 小按钮上有鼠标悬停时 */
	background-color: #333; /* 小按钮的底色 */
	color: #fff; /* 文字颜色 */
}

#fold a { /* back to top button */
	position: fixed;
	bottom: 90px; /* 小按钮到浏览器底边的距离 */
	right: 5px; /* 小按钮到浏览器右边框的距离 */
	color: #333; /* 小按钮中文字的颜色 */
	background-color: rgba(212, 212, 212, 0.5); /* 小按钮底色 */
	padding: 10px; /* 小按钮中文字到按钮边缘的距离 */
	text-decoration: none;
}

#fold a:hover { /* 小按钮上有鼠标悬停时 */
	background-color: #333; /* 小按钮的底色 */
	color: #fff; /* 文字颜色 */
}

.navbar{
  border-radius: 0;
}

.alert{
  border-radius: 0;
}
